# Geocoding API (Open-Meteo)
NEXT_PUBLIC_GEOCODING_API=https://geocoding-api.open-meteo.com/v1/search

# Weather Forecast API (Open-Meteo)
NEXT_PUBLIC_FORECAST_API=https://api.open-meteo.com/v1/forecast
